<div class="section-layout" fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">
    <div class="section">
        
        <div class="score">
            <app-score-card name="Nathaniel Musa" email="nats@email.com" score="71%"></app-score-card>
        </div>

        <div class="score">
            <app-score-card name="Nathaniel Musa" email="nats@email.com" score="71%"></app-score-card>
        </div>

        <div class="score">
            <app-score-card name="Nathaniel Musa" email="nats@email.com" score="71%"></app-score-card>
        </div>


        <div class="score">
            <app-score-card name="Nathaniel Musa" email="nats@email.com" score="71%"></app-score-card>
        </div>

       

    </div>

</div>