<div class="questions">
    <app-question-card
    question="Acetone is mainly used in which of the industries" 
                        optionA="Construction, Paints, IAP, and Polymers"
                        optionB="Construction, Paint, Polymers, and Agriculture"
                        optionC="Oilfield, Cosmetics, Textile, and Paint"
                        optionD="Cosmetics, Paints, Textile and Polymers"
                        question_number="1"
                        is_admin="true"
                        answer="A"
    ></app-question-card>


</div>

<div class="questions">
    <app-question-card
    question="Acetone is mainly used in which of the industries" 
                        optionA="Construction, Paints, IAP, and Polymers"
                        optionB="Construction, Paint, Polymers, and Agriculture"
                        optionC="Oilfield, Cosmetics, Textile, and Paint"
                        optionD="Cosmetics, Paints, Textile and Polymers"
                        question_number="2"
                        is_admin="true"
                        answer="A"
    ></app-question-card>


</div>


<div class="questions">
    <app-question-card
    question="Acetone is mainly used in which of the industries" 
                        optionA="Construction, Paints, IAP, and Polymers"
                        optionB="Construction, Paint, Polymers, and Agriculture"
                        optionC="Oilfield, Cosmetics, Textile, and Paint"
                        optionD="Cosmetics, Paints, Textile and Polymers"
                        question_number="3"
                        is_admin="true"
                        answer="A"
    ></app-question-card>


</div>


<div class="questions">
    <app-question-card
    question="Acetone is mainly used in which of the industries" 
                        optionA="Construction, Paints, IAP, and Polymers"
                        optionB="Construction, Paint, Polymers, and Agriculture"
                        optionC="Oilfield, Cosmetics, Textile, and Paint"
                        optionD="Cosmetics, Paints, Textile and Polymers"
                        question_number="4"
                        is_admin="true"
                        answer="A"
    ></app-question-card>


</div>