<div class="questions" *ngFor="let row of questions">
    <mat-card >
        <mat-card-header>
          <mat-card-title>Question</mat-card-title>
          
        </mat-card-header>
    
        <mat-card-content>
            <div class="question" fxLayout="row" fxLayoutAlign="space-between">
                {{row.question}}
                <span class="answer" >Answer: &nbsp; <span>{{row.correctAnswer}}</span></span>
            </div>
    
            <div class="options">
                <div class="option" id="selected"> 
                    <div>
                        <span>A</span> &nbsp; {{row.options[0]}}
                    </div>
                    
                </div>
              
                <div class="option" id="selected"> 
                    <div><span>B</span> &nbsp; {{row.options[1]}}</div>
                   
                </div>
                
                <div class="option" id="selected" > 
                    <div>
                        <span>C</span> &nbsp; {{row.options[2]}}
                    </div>
                    
                </div>
               
                <div class="option" id="selected"> 
                   <div>
                    <span>D</span> &nbsp; {{row.options[3]}}
                    </div>               
    
                </div>
               
                   
            </div>
        </mat-card-content>
    

      </mat-card>


</div>


