<mat-card>
    <mat-card-header>
      <mat-card-title>{{name}}</mat-card-title>
      <mat-card-subtitle>{{email}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <span class="score-title" fxLayout="row" fxLayoutAlign="center center">Score</span>
        <div class="score-percentage" fxLayout="row" fxLayoutAlign="center center">
            {{score}}
        </div>
        
    </mat-card-content>


    <!-- <mat-card-actions align="end">
      <button mat-raised-button color="primary">Previous</button>
      <button mat-raised-button color="primary">Next</button>
    </mat-card-actions> -->
  </mat-card>


